APP_ENV=dev
LOG_LEVEL=INFO

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dgssi
POSTGRES_USER=dgssi
POSTGRES_PASSWORD=changeme

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=dgssi_admin
MINIO_SECRET_KEY=changeme123
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver
MINIO_BUCKET_GOLD=gold
MINIO_BUCKET_LOGS=logs

AIRFLOW_UID=50000